body {
		font-family: Arial;
		text-align: center;
		color: black;
		margin: 0;
		font-size: 100%;
}

#header {
		margin-left: auto;
		margin-right: auto;
		position: relative;
		height: 15vw;
		width: 100%;
		background: -webkit-linear-gradient(top, rgb(102, 214, 255), rgb(102, 145, 255));
}

#header_words {
		font-size: 4.5vw;
		margin-left: auto;
		margin-right: auto;
		padding-top: 2%;
		padding-bottom: 1.5%;
		color: white;
}

#selfname {
	font-size: 2vw;
	padding-bottom: 0.3vw;
	color: white;

}

#selfintroduction {
	font-size: 1.1vw;
	color: white;
	
}
#menu {
		letter-spacing: 0;
		word-spacing: 0;
		text-align: center;
		width: 100vw;
		height: 4vw;
		background: -webkit-linear-gradient(top, grey, black);
		margin-bottom: 1vw;
}

.menu_box {
		position: relative;
		text-align: center;
		height: 100%;
		width: 15vw;
		display: inline-block;
		color: white;
		vertical-align: top;
		font-size: 1.8vw;
		background: -webkit-linear-gradient(top, grey, black);
}

.menu_box > img {
		padding-top: 0.8vw;
		padding-right: 1vw;
		width: 1.9vw;
}

.menu_box:hover {
		background: -webkit-linear-gradient(top, white, black);
		cursor: pointer;
}

a > span {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
}

@-webkit-keyframes slide {
		from {
				background-color: green;
		}
		to {
				background-color: cyan;
		}
}

#ending {
		margin-top: 2vw;
		padding-top: 2vw;
		padding-bottom: 2vw;
		width: 100%;
		background: -webkit-linear-gradient(top, gray, black);
}

#introofmota {
		width: 100%;
		background: -webkit-linear-gradient(top, white, grey);
		margin-left: auto;
		margin-right: auto;
		color: black;
		padding-left: 2vw;
		padding-bottom: 1vw;
}

#introofmusic {
		width: 100%;

		background: -webkit-linear-gradient(top, black, grey);
		margin-left: auto;
		margin-right: auto;
		color: white;
		padding-left: 2vw;
		padding-bottom: 1vw;
}

#showimage {
		text-align: right;
		padding-top: 1.7vw;
}

#showdescription {
		width: 30vw;
		margin-top: 1.7vw;
		vertical-align: top;
		text-align: left;
		font-size: 1.3vw;
		margin-right: 2vw;
}

#showdescription span {
		font-size: 2.2vw;
}

#introofmota a {
		color: black;
}

#introofmusic a {
		color: white;
}

#showimage,
#showdescription {
		display: inline-block;
}

#introofmota img,
#introofmusic img {
		width: 29vw;
}

#slogan {
		position: relative;
		margin-left: 0;
		width: 48%;
		display: inline-block;
		left: -5%;
		top: 10%;
		color: white;
		font-size: 1.1vw;
		vertical-align: top;
}

#contact {
		text-align: left;
		width: 28%;
		display: inline-block;
		position: relative;
		background-color: grn;
		color: white;
		top: 10%;
		left: 10%;
		font-size: 0.9vw;
}

#contact a {
		color: white;
}

img {
		max-width: 100%;
}
